# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv

# Jupyter
.ipynb_checkpoints

# Pytest
.pytest_cache/
.coverage
htmlcov/

# System
.DS_Store

# Project specific
data/processed/
